body {
    font-family: 'Roboto', serif;
    font-size: 25px;
    background-color: #0d1117;
}
h1 {
    color: deepskyblue;
}
hr {
    display: block; 
    height: 2px;
    border: 0; 
    border-top: 2px solid rgb(80, 80, 80);
    padding: 0; 
}
header.navbarHeader {
    background-color: #484f58;
}

nav ul {
    margin:0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: medium;

    position: relative;
}

nav ul li a:hover {
    color:white;
    transition: color 150ms linear;
}

nav a {
    color: greenyellow;
    text-decoration: none;
    text-transform: uppercase;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: greenyellow;

    position: absolute;
    top: 0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(255,255,255,0);
    color: #FFF;
    border-radius: 1px;
    border-color: greenyellow;
}
button:hover {
    color:greenyellow;
    border-color: white;
    background-color: rgba(255,255,255,0.2);
    transition: color 150ms linear;
    transition: border-color 150ms linear;
    transition: background-color 100ms linear;
}

img.discordLogo {
    padding-top:10px;
    float: right;
}

.li1 {
    padding-bottom: 2px;
}

nav ul li.discord {
    float: right;
    margin-right: 25px;
    color: #7289da;
}