body {
    background-color: #2b2d42;
}

.navbar {
    text-decoration: none;
    font-family: 'Work Sans';
    position: static;
    border-radius: 15px;
    background-color: #003049;
}

.navbar ul {
    list-style: none;
    display: inline-block;
}

ul li {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.navbar li a {
    font-size: 22px;
    color: greenyellow;
    text-align: center;
    text-decoration: none;

    transition: all ease-in-out 150ms;
}

.navbar li a:hover {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
    border: 3px solid dimgray;
    display: grid;
    transition: border ease-in-out 150ms;
}

.pageTitle {
    color: #8d99ae;
    font-family: 'Work Sans';
    text-align: center;
    font-size: 30px;
    
    transition: all ease-in-out 250ms;
}

hr {
    display: block; 
    height: 5px;
    border: 0px;
    background-color: #4cc9f0;
    border-radius: 15px;
    padding: 0; 
    margin-top: 2%;
    margin-bottom: 2%;
}

main:hover .pageTitle {
    letter-spacing: 5px;
    font-size: 40px;
    color: #FFF;
}

main:hover {
    border: 5px solid greenyellow;
}

header div p span{
    color: #FFF;
    vertical-align: middle;
    font-size: larger;
    font-family: 'Lato';
}

header div {
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    background: linear-gradient(-45deg, coral, mediumvioletred);
}

p {
    text-align: center;
    font-size: larger;
    color: #FFF;
    font-family: 'Lato';
}

footer ul li a {
    font-family: 'Roboto Slab';
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: #FFF;
    display: inline-block;
}

table {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 25%;
    margin-left: 25%;
    font-family: 'Work Sans';
    color: #FFF;
}

table tr {
    outline: thin solid;
}