@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background: #000;
}

body.ch {
    cursor: none;
}

div[hide] {
    pointer-events: none;
    display: none;
    content: none;
}

#ui-overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#objectMenu {
    position: fixed;
    pointer-events: all;
    display: inline-block;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #353535; 
    opacity: .25;
    transition: opacity 250ms linear;
}

div#objectMenu:hover {
    opacity: 1;
}

div#optionContainer {
    color: #fff;
    margin: 3px;
    padding: 5px;
    border-width: 10px;
    border-radius: 5px;
    font-family: 'Roboto';
    border-color: #fff;
}

h1#optionHeader {
    pointer-events: none;
    font-size: smaller;
    text-align: center;
}

div#optionFields {
    text-align: center;
}

h1#menuTitle {
    color: #fff;
    font-family: "Lato";
    font-size: medium;
    text-align: center;
    letter-spacing: 5px;
    padding-left: 15px;
    padding-right: 15px;
    /* Safari */    
    -webkit-user-select: none;
    /* Firefox */    
    -moz-user-select: none;
    /* IE 10 and later */    
    -ms-user-select: none;
    /* Standard syntax */    
    user-select: none;
}

input[type=number] {
    width: 30px;
    height: 20px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: #a8a8a8;
    transition: background-color 250ms ease-out;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 

input[type=number]:focus {
    outline: none;
    border: none;
    background: #c7c7c7;
}

select {
    transition: background-color 250ms ease-out;
    background-color: #dbdada;
}

select:focus {
    outline: none;
    border: none;
    background: #c7c7c7;
}

.hide {
    visibility: hidden;
    display: none;
}

#objectCreateMenu { 
    position: fixed;
    pointer-events: all;
    display: inline-block;
    opacity: 1;
    background-color: #2b2b2b;
    border-radius: 7px;
    text-align: left;
}

h1#objectCreateMenuTitle {
    user-select: none;
    color: #fff;
    font-size: medium;
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 3px;
}

div#optionContainer {
    display: inline-flexbox;
    vertical-align: middle;
    text-align: center;
}

h1#objectName {
    display: inline-block;
    vertical-align: middle;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    user-select: none;
    padding-left: 10px
}

h1#objectCreateMenuTitle {
    user-select: none; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: left;
    font-size: large;
}

div#createObjectOption {
    transition: background 200ms ease-out;
}

div#createObjectOption:hover {
    background-color: #4b4b4b;
}

.shape {
    color: #fff
}